{% extends 'base.html' %}

{% block styles %}
<link href="https://unpkg.com/maplibre-gl@^5.8.0/dist/maplibre-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
<script>
  const formImages = [
	"{% static 'assets/images/Form1.png' %}",
    '{% static "assets/images/Form2.png" %}',
    '{% static "assets/images/Form3.png" %}',
    '{% static "assets/images/Form4.png" %}',
    '{% static "assets/images/Form5.png" %}',
    '{% static "assets/images/Form6.png" %}',
  ];
  const emailImages = [
    '{% static "assets/images/Email1.png" %}',
    '{% static "assets/images/Email2.png" %}',
    '{% static "assets/images/Email3.png" %}',
    '{% static "assets/images/Email4.png" %}',
    '{% static "assets/images/Email5.png" %}',
    '{% static "assets/images/Email6.png" %}',
    '{% static "assets/images/Email7.png" %}',
    '{% static "assets/images/Email8.png" %}',
    '{% static "assets/images/Email9.png" %}',
    '{% static "assets/images/Email10.png" %}',
  ];
</script>

{% script 'app' %}
{% endblock scripts %}

{% block content %}
<nav class="masthead">
	<div class="masthead-content">
		<img src="{% static 'assets/images/logo.svg' %}" alt="Tagline" class="masthead-image">
	  </div>
  </nav>
<section class="container"> 
<section class="story-header">
	<h1 class="headline">Where have all the Long COVID clinics gone?</h1>
	
	<p class="dek">A nationwide survey reveals the uncertain state of specialized care for Americans living with the chronic condition</p>
	
	<div class="byline">
	  <span class="author">Delfina Marchese</span> 
	  | <span class="date">March 10, 2026</span>
	</div>
	
	<div class="intro-text">
		<p>When the University of North Carolina (UNC) announced it was closing <a href="https://thesicktimes.org/2025/06/24/unc-shuts-down-long-covid-clinic-leaving-thousands-without-specialized-care/" target="_blank">its Long COVID clinic last June</a>, it left thousands of patients without specialized care. Since its launch in 2021, the clinic had seen over 3,500 patients from more than 20 states. </p>

		<p>Unpublished data shared with <em>The Sick Times</em> revealed the severity of their conditions: 43% of those 3,500 patients reported stopping work, 33% went into debt, and 53% had difficulty with activities of daily living.</p>
		
	  	<p>“The clinic closing sends me into a panic,” said Gillian Lizars, a patient of the clinic at the time. “I think to myself, ‘Oh my God, no help is coming.’”</p>
			
		<p>UNC, unfortunately, wasn’t alone in shuttering its clinic. </p>
	</div>
  </section>
</section>


<section id='scroll'>
	<div class='scroll__graphic'>
		<div class='chart'>
			<div id="map" style="position: relative; min-height: 400px; width: 100%;"></div>
		</div>
	</div>
	<div class='scroll__text'>
		{% for p in copy.steps %}
			<div class='step' data-step='{{loop.index}}'>
				<p>{{p.value}}</p>
			</div>	
		{% endfor %}
	</div>
</section>

<section class="container">
	<div class="intro-text">
	{% for p in copy.bottom_text %}
		<p>{{ p.value }}</p>
	{% endfor %}
	</div>
</section>
{% endblock content %}

